.git
.github
docs
logos
*.md
backend/venv
backend/.venv
backend/users
backend/users.db
backend/__pycache__
backend/gamma/__pycache__
**/__pycache__
**/*.pyc
**/*.db
**/*.log
logseq-v2-frontend/node_modules
logseq-v2-frontend/dist
logseq-v2-frontend/.vite
